:root {
  color: #415472;
}

@import url('file:///Users/adeobayomi/Downloads/Satoshi_Complete%203/Fonts/WEB/css/satoshi.css');
@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
  .btn-primary {
    @apply bg-indigo-800 flex justify-center items-center font-medium  text-white w-full rounded-3xl py-1.5;
  }
}

.btn-progress:disabled {
  background-color: #f5f5f5;
  color: #717171;
}

