:root {
  color: #415472;
}

@import url('https://fonts.cdnfonts.com/css/satoshi');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-sans { font-family: Satoshi, sans-serif;}



@layer components {
  .btn-primary {
    @apply bg-[#414FC7] flex justify-center items-center font-medium  text-white w-full rounded-3xl py-1.5;
  }
}

.btn-progress:disabled {
  background-color: #f5f5f5;
  color: #717171;
}

